---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 14 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hey. I've made this blog to share my thoughts and experiences with the community.
		As a Python developer and enthusiast, I plan to share the beauty and intricacies of Python.
	</p>
</Layout>
