---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🐍 Welcome to Pru Blog!</h1>
			<p>
				As a Software Engineer and Python enthusiast, I plan to share the beauty of Python.
			</p>
		</main>
		<Footer />
	</body>
</html>
